<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In/Up Form</title>
    <link rel="stylesheet" href="../static/css/login&signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="app">
        <div class="container" id="container">
            <div class="form-container sign-up-container" id="signUpContainer">
                <form id="signUpForm">
                    <h2>Create Account</h2>
                    <div class="social-container">
                        <a class="social" id="demoSignUp"><i class="fas fa-user"></i></a>
                    </div>
                    <span>or use your email for registration</span>
                    <input type="text" name="username" placeholder="Name" required />
                    <input type="email" name="email" placeholder="Email" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <div class="profilepic">
                        <label for="avatar">
                            <i class="fas fa-user-circle"></i>
                            <span>Upload Profile Picture</span>
                            <input type="file" id="avatar" name="avatar" accept="image/*" style="display: none;">
                        </label>
                    </div>
                    <button type="submit" id="signUpButton">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container" id="signInContainer">
                <form id="signInForm">
                    <h2>Sign in</h2>
                    <div class="social-container">
                        <a class="social" id="demoSignIn"><i class="fas fa-user"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="email" name="email" placeholder="Email" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <button type="submit" id="signInButton">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signInOverlay">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUpOverlay">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>